*.*~*
*.dcu
*.ddp
*.identcache
*.ini
*.dproj.local
*.txt
*.dll
*.exe
*.doc
*.docx
*.wav
*.wmv
*.mov
*.mp3
*.mp4
*.dsk
*.docx

thumbs.db

Audio/*
Images/*
Video/*
Skins/*
Codecs/*
Кодеки/*
img/*

*/__history/*

db/Current/*
db/DBEmpty/*

Sources/*

Key/*.dcu
Key/*.*~*
Key/*.dcu

wave_recorder/__history/*
wave_recorder/*.dcu
wave_recorder/*.ddp
wave_recorder/*.~*
wave_recorder/*.identcache
wave_recorder/*.dproj.local
wave_recorder/*.map

Setup/LogicSetup/Product Configuration/*
Setup/TrizSetup/Product Configuration/*

Setup/LogicSetup/PROJECT_ASSISTANT/*
Setup/TrizSetup/PROJECT_ASSISTANT/*
Setup/Setup4/*
Setup/Setup5/*
